* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
 }
 @import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


 body {
    font-family: Arial, sans-serif;
   background: linear-gradient(to bottom right,black, rgba(0, 0, 0, 0.811));
 
      margin: 0;
    height: 100vh;
    font-weight: 100;
    background: radial-gradient(rgba(0, 0, 0, 0.641),black);
    
    
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;


    /*position: relative;
    height: 100vh;
    width: 100%;
    background: -webkit-radial-gradient(circle, #396362, #000000);
    background: -moz-radial-gradient(circle, #396362, #000000);
    background: -ms-radial-gradient(circle, #396362, #000000);
    box-shadow: inset 0 0 160px 0 #000;
    cursor: pointer;*/


}
 

 header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    
    
 }
 /*.h1{
   margin-top: 200px;
 }*/
 nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

 }
 
 nav ul li a:hover {
   
   color: #fff;
   text-decoration: none;
   padding: 10px;
   transition: all 0.3s ease;
   border-bottom: 1px solid #00c2cb;
   
}
nav ul li a {
   
   color: #ffffff;
}
 
 main {
    padding: 20px;
    color: #ffffff;
 }
 
 #Top {
   /*background: url(/iamge/Label\ logo.jpg) rgba(0, 0, 0, 0.6); /* Прописываем путь к картинке и задаем цвет и прозрачность */
    background-size: cover; 
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    text-align:center; /* Текст по центру */
    color: #fff; /* Цвет текста */
    padding: 50px 0; /* Отступ сверху и снизу */  

    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

 #Top h1 {
    font-size: 3em;
    margin-bottom: 20px;
 }
 
 #Top p {
    font-size: 1.5em;
    margin-bottom: 20px;
 }
 
 #Top button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
 }
 
 #Top button:hover {
    background-color: #333;
    color: #fff;
 }
 #artists {
    margin-top: 50px;
    border-radius: 50%;
   
   
 }
 
 .artist {
    margin-bottom: 50px;
    text-align: center;
    
 }
 /*.artist:hover{
   -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
   transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.2);
   animation: 1.5s;

   
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
 }*/

 figure.artist:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*Эффект при наведении*/
.artist:hover img {
	
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
 
 .artist img {
    border-radius: 50%;
 }
 
 .artist h3 {
    margin-top: 10px;
    font-size: 1.5em;
 }
 
 #releases {
    margin-top: 50px;
 }
 
 .release {
    margin-bottom: 100px;
    text-align: center;
 }
 figure.artist:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*Эффект при наведении*/
.release:hover img {
	
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
 
 .release img {
    border-radius: 20px;
 }
 
 .release h3 {
    margin-top: 10px;
    font-size: 1.5em;
 }
 .vvideo, .iframe {
   cursor: pointer;
    
      width: 100%;
      height: 100%;
  
 }
 .vvideo:hover{
   display: flex;
   font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
   color: #eee;
   text-align: left;
   direction: ltr;
   font-size: 11px;
   line-height: 1.3;
   -webkit-font-smoothing: antialiased;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
 }
 footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
 }
.myFile{
   margin: 5px;
}
.fr1{
   margin-left: 105px;
}
/*.loader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #ffffff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.loader::before {
   content: "Загрузка";
   width: 50px;
   height: 50px;
   border: 5px solid #000000;
   border-top-color: transparent;
   border-radius: 50%;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   from {
       transform: rotate(0deg);
   }
   to {
       transform: rotate(360deg);
   }
}
.hidden {
   opacity: 0;
   transition: opacity 0.5s ease-out;
   pointer-events: none;
}
/* Общие стили */
*:after, *:before { 
	box-sizing: border-box; 
}
.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	background: #527c82;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	background-blend-mode: multiply;
	opacity: 0.9;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-three {
	background: #527c82;
}
figure.effect-text-three img {
   text-align: center;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
